<div class="container">
  <h1 class="my-3 ml-3">movie</h1>
  <div class="d-flex">
    <div class='mr-2'>
      <%= form_tag(movies_path, method: :get) do %>
        <%= text_field_tag :search, params[:search] %> 
        <%= submit_tag "検索" ,class: "button is-info"%> 
        <div class="form-check form-check-inline">
          <%= radio_button_tag :is_showing, "", params[:is_showing].blank? %>
          <%= label_tag nil, 'すべて', class: 'form-check-label ml-1' %>
        </div>
        <div class="form-check form-check-inline">
          <%= radio_button_tag :is_showing, "0", params[:is_showing] == "0" %>
          <%= label_tag nil, '公開予定', class: 'form-check-label ml-1' %>
        </div>
        <div class="form-check form-check-inline">
          <%= radio_button_tag :is_showing, "1", params[:is_showing] == "1" %>
          <%= label_tag nil, '公開中', class: 'form-check-label ml-1' %>
        </div>
      <% end %> 
    </div>
  </div>
  <div>
    <table class="table">
    <thead>
      <th>タイトル</th>
      <th>画像</th>
      <th></th>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr class="mt-1">
          <td><%= movie.name %></td>
          <% if movie.image_url.present? %>
            <td><%= image_tag movie.image_url %></td>
          <% else %>
            <td></td>
          <% end %>
          <td><%= link_to '詳細', movie, class: 'btn btn-outline-dark' %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
</div>