<%= render "layouts/error_messages" %>
<p class="form-group field">
  <%= f.label :sheet_id, "座席", class: "control-label" %>
  <%= f.text_field :sheet_id, class: "form-control" %>
</p>
<p class="form-group field">
  <%= f.label :date, "日時", class: "control-label" %>
  <%= f.text_field :date, class: "form-control" %>
</p>
<p class="form-group field">
  <%= f.label :name, "名前", class: "control-label" %>
  <%= f.text_field :name, class: "form-control" %>
</p>
<p class="form-group field">
  <%= f.label :email, "メールアドレス", class: "control-label" %>
  <%= f.text_area :email, class: "form-control" %>
</p>
